.hidden {
    display: none;
}

body {
    font-family: Arial;
    line-height: 1;
    background-color: #f5f5dc;
}

#header {
    display: flex;
    justify-content: space-between;
}

#login-form {
    margin-top: 20px;
    margin-left: 20px;
}

#login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    font-size: 16px;
}

#login-form input[type="submit"] {
    background-color: #3cb371;;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#greeting {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 48px;
    font-weight: bold;
}

#weather {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 32px;
}

#clock {
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 40px;
}

#todo-form {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
}

#todo-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    font-size: 16px;
}

#todo-list {
    margin-top: 10px;
    padding: 20px;
}

#todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#todo-list li input[type="checkbox"] {
    margin-right: 10px;
}

#quote {
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}